# Project exclude paths
/java/annalyns-infiltration/.gradle/
/java/annalyns-infiltration/build/
/java/annalyns-infiltration/build/classes/java/main/
/java/annalyns-infiltration/build/classes/java/test/
/java/bird-watcher/.gradle/
/java/bird-watcher/build/
/java/bird-watcher/build/classes/java/main/
/java/bird-watcher/build/classes/java/test/
/java/blackjack/.gradle/
/java/blackjack/build/
/java/blackjack/build/classes/java/main/
/java/blackjack/build/classes/java/test/
/java/cars-assemble/.gradle/
/java/cars-assemble/build/
/java/cars-assemble/build/classes/java/main/
/java/cars-assemble/build/classes/java/test/
/java/elons-toy-car/.gradle/
/java/elons-toy-car/build/
/java/elons-toy-car/build/classes/java/main/
/java/elons-toy-car/build/classes/java/test/
/java/football-match-reports/.gradle/
/java/football-match-reports/build/
/java/football-match-reports/build/classes/java/main/
/java/football-match-reports/build/classes/java/test/
/java/gigasecond/.gradle/
/java/gigasecond/build/
/java/gigasecond/build/classes/java/main/
/java/gigasecond/build/classes/java/test/
/java/hamming/.gradle/
/java/hamming/build/
/java/hamming/build/classes/java/main/
/java/hamming/build/classes/java/test/
/java/hello-world/.gradle/
/java/hello-world/build/
/java/hello-world/build/classes/java/main/
/java/hello-world/build/classes/java/test/
/java/karls-languages/.gradle/
/java/karls-languages/build/
/java/karls-languages/build/classes/java/main/
/java/karls-languages/build/classes/java/test/
/java/lasagna/.gradle/
/java/lasagna/build/
/java/lasagna/build/classes/java/main/
/java/lasagna/build/classes/java/test/
/java/log-levels/.gradle/
/java/log-levels/build/
/java/log-levels/build/classes/java/main/
/java/log-levels/build/classes/java/test/
/java/need-for-speed/.gradle/
/java/need-for-speed/build/
/java/need-for-speed/build/classes/java/main/
/java/need-for-speed/build/classes/java/test/
/java/remote-control-competition/.gradle/
/java/remote-control-competition/build/
/java/remote-control-competition/build/classes/java/main/
/java/remote-control-competition/build/classes/java/test/
/java/salary-calculator/.gradle/
/java/salary-calculator/build/
/java/salary-calculator/build/classes/java/main/
/java/salary-calculator/build/classes/java/test/
/java/space-age/.gradle/
/java/squeaky-clean/.gradle/
/java/squeaky-clean/build/
/java/squeaky-clean/build/classes/java/main/
/java/squeaky-clean/build/classes/java/test/
/java/two-fer/.gradle/
/java/two-fer/build/
/java/two-fer/build/classes/java/main/
/java/two-fer/build/classes/java/test/
/java/wizards-and-warriors/.gradle/
/java/wizards-and-warriors/build/
/java/wizards-and-warriors/build/classes/java/main/
/java/wizards-and-warriors/build/classes/java/test/